<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/board.css">

    <style>

        .home{
            font-weight: 800;
        }

          #preview>img {
            width: 200px;
            height: 200px;
            border: 1px solid gray;
            margin : 2px;
        }

        .Flist::-webkit-scrollbar {
            width: 0.4em; /* 수평 스크롤바 너비 */
            display : none;
        }

        .Flist::-webkit-scrollbar-thumb {
            background-color: rgb(192, 192, 192);
            border-radius: 15px;
        }

        .Flist::-webkit-scrollbar-track {
            background: transparent;
        }

    </style>
</head>
<body class="scroll">

<header>
    <div class="menu">
        <div class="top-menu">

            <div class="logo">
                <a href="/list"> <img src="images/logo.png" max-width="100%" height="15"/> </a>
            </div>

            <div class="middle-menu">
                <a href="/list">
                    <div class="home" style="font-size: 1.2rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                        </svg>홈
                    </div>
                </a>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    검색
                </button>

                <a href="#" id="notification-icon">
                    <div class="message">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>메시지
                    </div>
                </a>

                <button type="button" class="btn btn-primary position-relative bell" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>알림
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>글쓰기
                </button>

                <a href="/mypage">
                    <div class="mypage">
                        <img th:src="${#authentication.getPrincipal().getUser().getProfile()}" style="width:22px;height:22px;border-radius:50%;" />프로필
                    </div>
                </a>
            </div>
        </div>



        <div class="logout">
            <form method="post" action="/logout">
                <button class="logout-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>로그아웃
                </button>
            </form>
        </div>

    </div>
</header>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<div class="up">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-square-fill" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5A.5.5 0 0 0 4 11z"/>
    </svg>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">검색</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="searchbox">
            <form id="searchForm" method="GET">
                <select class="form-select" aria-label="Default select example" id="searchOption">
                    <option value="nickname">닉네임</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" name="keyword" class="form-control" id="searchKeyword">
                <button type="submit" class="btn btn-outline-secondary" id="searchButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>

    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">알림</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="notification-container">
            <!-- 알림이 여기에 동적으로 추가 -->
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header" style="height : 40px;">
                <span class="modal-title" id="exampleModalLabel" style="font-weight: 600;">새 게시물</span>
            </div>

            <div class="modal-body" style="display : flex; justify-content: center;">
                <section class="product_img_block" style="display : fixed;width : 10px;">
                    <div class="product_img">
                        <div class="upload-box" style="position : relative;left :10px;top : 0px;width : 500px;height : 500px;z-index:999;">
                            <div class="plus">+</div>
                        </div>
                    </div>
                </section>
                <form onsubmit="return false" name="imageform" >
                    <div style="display : flex;">
                        <div class="form-group" style="display : flex; flex-direction: column;">
                            <!--                            <input class="form-control" type="file" id="fileInput" name="files" style="z-index : 80;" multiple>-->

                            <div style="width : 500px; height : 500px;">
                                <div id="preview" style="width : 500px;height : 500px;"></div>
                            </div>
                        </div>

                        <div style="margin-left : 60px;">
                            <div class="form-group" style="height : 49px;">
                                <img th:src="${#authentication.getPrincipal().getUser().getProfile()}" style="width:22px;height:22px;border-radius:50%;" />
                                <label for="nickname"></label>
                                <input type="text" id="nickname" name="nickname" th:value="${#authentication.getPrincipal().getUser().getNickname()}" style="border : 1px solid white;"readonly/>
                            </div>

                            <div class="form-group">
                                <textarea name="contents" rows="4" style="width : 300px;height : 300px;" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top : 20px;">
                        <button type="submit" class="btn btn-primary add_product_btn">등록</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



<!-- /* COMMON 구간---------------------------------- */ -->






<main>
    <div class="BandF">
        <div class="board">

            <div th:each="data ,i: ${dataList}">
                <div class="board-item">

                    <div class="idbox">
                        <div>
                            <a th:href="'/whopage/' + ${data.board.number}" style="display:flex; align-items: center;font-size: 0.8rem;margin-right : 10px;justify-content: center; text-decoration: none; color : black;">
                                <img th:src="${data.profile}" style="width:30px;height:30px;border-radius:50%;margin-right : 10px;" />
                                <div id = board_id th:text="${data.board.nickname}">id</div>
                            </a>|
                            <div class="date" th:text="${data.board.date}">date</div>
                        </div>
                        <div class="hits-box">조회
                            <div class="hits" th:text="${data.board.hits}">hits</div>
                        </div>
                    </div>


                    <a th:href="'/read/' + ${data.board.number}">
                        <div id = board_img>
                            <div class="img">
                                <img th:src="@{'/resources/hamohamo/'+${data.board.email}+'/'+${data.board.number}+'/'+${data.board.files.get(0)}}" width="450" height="100%"/>
                                <p style="background-color : gray; opacity: 0.75; width : 50px;height : 23px;border-radius : 20px;position : relative;right : 50px; bottom : 220px;color : white;font-size : 0.8rem;"><span style="font-size : 0.8rem;">&nbsp;&nbsp;1</span>/<span th:text="${#lists.size(data.board.files)}" style="font-size : 0.8rem;"></span><span style="font-size : 0.8rem;">&nbsp;&nbsp;</span></p>
                            </div>
                            <div id=board_contents class="contents" th:text="${data.board.contents}">contents</div>
                        </div>
                    </a>

                    <div class="like">
                        <span class="heart" style="border-style : none;cursor : pointer;" th:data-board-number="${data.board.number}"></span>
                        <span class="like-count" th:text="${data.board.like_count}">like</span>
                        <span style="font-size: 17px;margin-left : 25px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            </svg>
                        </span>
                        <span class="reply-count" th:text="${data.cnt}">0</span>

                    </div>

                </div>
            </div>


        </div>
        <div class="followlist" style="width : 500px;
    margin-left : 150px;
    margin-top : 50px;">
            <!--            내정보-->
            <div class="myInfo" style="height : 60px;margin-top : 15px;">
                <img th:src="${#authentication.getPrincipal().getUser().getProfile()}" style="width:40px;height:40px;border-radius:50%;margin-left : 10px;margin-right : 10px;" />
                <span th:text="${#authentication.getPrincipal().getUser().getEmail()}">my email</span>
            </div>

            <!--            친구정보-->
            <div class="Flist" style="padding-top : 20px;border-top : 1px solid rgb(194, 194, 194); max-height: 340px; overflow-y: auto;border : 1px solid rgb(192, 192, 192);border-radius : 15px;">
                <!-- followList가 리스트일 경우 각 항목을 순회하며 표시 -->
                <div th:each="follow : ${followList}" style="height : 60px; margin-bottom : 10px;margin-left : 20px;">
                    <a th:href="'/nampage/' + ${follow.email}" style="text-decoration: none; color : black;">

                        <!-- follower 객체에서 필요한 속성을 가져와서 표시 -->
                        <img th:src="${follow.profile}" style="width:40px;height:40px;border-radius:50%;margin-top : 10px;margin-bottom:10px; margin-right : 20px;" />

                        <span th:text="${follow.nickname}">nam email</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>

</body>

<!-- 자체 작성한 JavaScript 코드 -->
<script>
    // 서버에서 알림 데이터를 가져와 동적으로 렌더링하는 함수
    function loadNotifications() {
        $.ajax({
            url: "/boardnotification/read", // 알림 데이터를 제공하는 엔드포인트
            method: "GET",
            dataType: "json",
            success: function(data) {
                // 알림 데이터를 동적으로 렌더링합니다.
                const notificationContainer = $("#notification-container");

                data.forEach(function(notification) {
                    // 알림을 동적으로 생성하여 추가합니다.
                    const notificationElement = `
                        <div class="notification">
                            <p>${notification.replyemail}</p>
                            <p>${notification.message}</p>
                            <p>${notification.rdate}</p>
                        </div>
                    `;
                    notificationContainer.append(notificationElement);
                });
            },
            error: function(error) {
                console.error("Error fetching notifications: " + error);
            }
        });
    }

    // 페이지가 로드될 때 알림을 가져와서 렌더링합니다.
    $(document).ready(function() {
        loadNotifications();
    });
</script>

<script>

    function logoutAndRedirect() {
          // 새 창 열기
       var newWindow = window.open('/logout', '_blank','width=450,height=450,top=1,right=100%');
       setTimeout(function() {
         // 1.5초후 창닫기
          newWindow.close();

         // 특정 지점으로 리다이렉션
     window.location.href = '/login';
   }, 1500);

     }

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function() {

        $('.heart').each(function(){

            var heart = $(this);
            var boardNumber = heart.data('board-number');

            $.ajax({

                type:'GET',
                url:'/get-like-status/'+boardNumber,
                success:function(hasLiked){

                var heartIconSVG = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">' +
                '<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.920 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.060.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>' +
                '</svg>';

                var FillheartIconSVG = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">'+
                '<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>'+
                '</svg>';

                    if(hasLiked==='true'){
                        heart.html(FillheartIconSVG);
                    }else{
                        heart.html(heartIconSVG);
                    }
                },
                error:function(){
                    console.error('좋아요 상태 가져오기 실패');
                }
            });
        });

        $('.heart').on('click', function(event) {
            event.preventDefault();
            var heart = $(this)
            var boardNumber = heart.data('board-number');

            $.ajax({
                type: 'GET',
                url: '/like/'+boardNumber,
                success: function(isLiked) {

                    location.reload();
                },
                error: function() {
                    console.error('좋아요 업데이트 실패');
                }
            });
        });
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('searchButton').addEventListener('click', function(event) {
        event.preventDefault(); // 기본 동작을 막습니다.

        // 폼을 가져오고, action 속성을 변경한 다음 폼을 제출합니다.
        var form = document.getElementById('searchForm');
        var selectedOption = document.getElementById('searchOption').value; // 선택된 검색 옵션 가져오기
        if (selectedOption === 'nickname') {
            form.action = '/list/search-nickname'; // 닉네임 검색을 위한 URL로 변경
        } else {
            form.action = '/list/search-contents'; // 내용 검색을 위한 URL로 변경
        }
            form.submit(); // 폼 제출
        });
    });
</script>

<script>
    // 스크롤 위치 저장
    window.addEventListener("scroll", function () {
        localStorage.setItem("scrollPosition", window.scrollY);
    });

    // 페이지 로드 시 스크롤 위치 복원
    window.addEventListener("load", function () {
        const scrollPosition = localStorage.getItem("scrollPosition");
        if (scrollPosition) {
            window.scroll({
                top: scrollPosition,
                behavior: "auto"
            });
        }
    });
</script>

<script>
    // .up 엘리먼트를 클릭하면 페이지 상단으로 스크롤
    document.querySelector(".up").addEventListener("click", function() {
        window.scrollTo({
            top: 0,
            behavior: "smooth" // 부드러운 스크롤 사용
        });
    });
</script>

<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const formData = new FormData();	//폼관련 정보 저장

const uploadBox_el = document.querySelector('.upload-box');
//dragenter / dragover /dragleave / drop

uploadBox_el.addEventListener('dragenter',function(e){
    e.preventDefault();
    console.log("dragenter...");
});
uploadBox_el.addEventListener('dragover',function(e){
    e.preventDefault();
    uploadBox_el.style.opacity='0.5';
    console.log("dragover...");

});
uploadBox_el.addEventListener('dragleave',function(e){
    e.preventDefault();
    uploadBox_el.style.opacity='1';
    console.log("dragleave...");

});

//----------------------------------------------
//
//----------------------------------------------
uploadBox_el.addEventListener('drop',function(e){
    e.preventDefault();
    console.log("drop...");
    console.log(e);
    console.log(e.dataTransfer);
    console.log(e.dataTransfer.files[0]);

    //유효성체크(이미지만, 하나씩만 , 용량제한 ...)
    // 파일 유형 확인 및 이미지 파일만 처리
    const imageFiles = Array.from(e.dataTransfer.files).filter(file => file.type.startsWith('image/'));
    if (imageFiles.length === 0) {
            alert("이미지 파일만 가능합니다");
            return;
    }
    //총이미지의 개수가 5개 이상이면 return(아직..)

    //미리보기
    const file = e.dataTransfer.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(event) {
        const preview = document.getElementById('preview');
        const img = document.createElement('img')
        img.setAttribute('src',event.target.result);
        preview.appendChild(img);
    };
    //formData에 저장
    formData.append('files',file);

});

const add_product_btn_el = document.querySelector('.add_product_btn');
		add_product_btn_el.addEventListener('click',function(){
			const contents = document.imageform.contents.value;

			formData.append('contents',contents);


			axios.post('/post',formData,	{headers: {'Content-Type' : 'multipart/form-data' } }   )
			.then(response =>{
				alert("새 글을 추가했습니다. 짝짝짝");
				location.href="/list";
			})
			.catch(error =>{alert("글쓰기를 실패하였습니다.(이미지파일 필수)");})


		})
</script>

<script>
    //---------------------------------
    //소켓 연결
    //---------------------------------
    var socket = new WebSocket('ws://localhost:8080/socket');

    //---------------------------------
    //메세지 수신
    //---------------------------------
    let amarmtest = 0;
    socket.onmessage = function(event) {
            var message = event.data;
            console.log('message : ',message);
            alert("Message : "+message);

            const notificationSpan = document.querySelector('.notification .counter');
            if (notificationSpan) {
              notificationSpan.style.display = 'block';
            }
   };

</script>


</body>
</html>