<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


  <!-- 구글폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/board.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <style>



    main{
     display : flex;
    }

  </style>
</head>
<body class="scroll">
<header>
  <div class="menu">
    <div class="top-menu">

      <div class="logo">
        <a href="/list"> <img src="/images/logo.png" max-width="100%" height="15"/> </a>
      </div>

      <div class="middle-menu">
        <a href="/list">
          <div class="home" style="font-size: 1.2rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
              <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            </svg>홈
          </div>
        </a>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          검색
        </button>

        <a href="#" id="notification-icon">
          <div class="message">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>메시지
          </div>
        </a>

        <button type="button" class="btn btn-primary position-relative bell" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg>알림
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <span class="visually-hidden">unread messages</span>
                    </span>
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>글쓰기
        </button>

        <a href="/draw">
          <div class="draw">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
              <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
              <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7"/>
            </svg>그림그리기
          </div>
        </a>

        <a href="/mypage">
          <div class="mypage">
            <img id="profileImage" th:src="${#authentication.getPrincipal().getUser().getProfile()}" style="width:22px;height:22px;border-radius:50%;" />프로필
          </div>
        </a>
      </div>
    </div>



    <div class="logout">
      <form method="post" action="/logout">
        <button class="logout-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>로그아웃
        </button>
      </form>
    </div>

  </div>
</header>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">검색</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="searchbox">
      <form id="searchForm" method="GET">
        <select class="form-select" aria-label="Default select example" id="searchOption">
          <option value="nickname">닉네임</option>
          <option value="content">내용</option>
        </select>
        <input type="text" name="keyword" class="form-control" id="searchKeyword">
        <button type="submit" class="btn btn-outline-secondary" id="searchButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
    </div>

  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">알림</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div id="notification-container">
      <!-- 알림이 여기에 동적으로 추가될 것입니다. -->
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="height : 40px;">
        <span class="modal-title" id="exampleModalLabel" style="font-weight: 600;">새 게시물</span>
      </div>

      <div class="modal-body" style="display : flex; justify-content: center;">
        <section class="product_img_block" style="display : fixed;width : 10px;">
          <div class="product_img">
            <div class="upload-box" style="position : relative;left :10px;top : 0px;width : 500px;height : 500px;z-index:999;">
              <div class="plus">+</div>
            </div>
          </div>
        </section>
        <form onsubmit="return false" name="imageform" >
          <div style="display : flex;">
            <div class="form-group" style="display : flex; flex-direction: column;">
              <!--                            <input class="form-control" type="file" id="fileInput" name="files" style="z-index : 80;" multiple>-->

              <div style="width : 500px; height : 500px;">
                <div id="preview" style="width : 500px;height : 500px;"></div>
              </div>
            </div>

            <div style="margin-left : 60px;">
              <div class="form-group" style="height : 49px;">
                <img th:src="${#authentication.getPrincipal().getUser().getProfile()}" style="width:22px;height:22px;border-radius:50%;" />
                <label for="nickname"></label>
                <input type="text" id="nickname" name="nickname" th:value="${#authentication.getPrincipal().getUser().getNickname()}" style="border : 1px solid white;"readonly/>
              </div>

              <div class="form-group">
                <textarea name="contents" rows="4" style="width : 300px;height : 300px;" required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="margin-top : 20px;">
            <button type="submit" class="btn btn-primary add_product_btn">등록</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>



<!-- /* COMMON 구간---------------------------------- */ -->

<main>
  <div class="BandF" style="margin-right : 300px;">

    <div class="board">

        <div class="board-item">

          <div class="idbox" style="width : 585px;">
            <div>
              <a th:href="'/whopage/' + ${board.number}" style="display:flex; align-items: center;font-size: 0.8rem;margin-right : 10px;justify-content: center; text-decoration: none; color : black;">
                <img th:src="${profile}" style="width:30px;height:30px;border-radius:50%;margin-right : 10px;" />
                <div id = board_id th:text="${board.nickname}">id</div>
              </a>|
              <div class="date" th:text="${#temporals.format(board.date, 'yyyy년 MM월 dd일 HH:mm:ss')}">date</div>
            </div>
            <div class="hits-box">조회
              <div class="hits" th:text="${board.hits}">hits</div>
            </div>
          </div>


          <a href="#">
            <div id = board_img>
              <div class="img" style="width : 585px;height : 650px;margin-bottom : 20px;">


                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >

                  <div class="carousel-inner">

                    <th:block th:each="file, status : ${files}">
                      <div class="carousel-item" th:classappend="${status.index == 0} ? active">
                        <img th:src="@{'/resources/hamohamo/' + ${board.email} + '/' + ${board.number} + '/' + ${file}}" width="585" height="650" />
                        <div class="carousel-caption">
                          <p style="background-color : gray; opacity: 0.75; width : 50px;height : 27px;border-radius : 20px;position : relative;bottom : 550px;left : 430px;"><span th:text="${status.index + 1}"></span>/<span th:text="${#lists.size(files)}"></span></p>
                        </div>
                      </div>
                    </th:block>

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="background-color : gray;width : 40px;height : 50px;margin-top : 325px;border-radius : 10px;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="background-color : gray;width : 40px;height : 50px;margin-top : 325px;border-radius : 10px;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

              </div>
              <div id=board_contents class="contents" th:text="${board.contents}" tyle="width : 585px;">contents</div>
            </div>
          </a>

          <div class="like" style="width : 585px;">
            <span class="heart" style="border-style : none;cursor : pointer;" th:data-board-number="${board.number}"></span>
            <span class="like-count" data-board-number="${board.number}" th:text="${board.like_count}">like</span>
          </div>

        </div>




    </div>


    <!-- REPLY        -->
    <style>

      .reply--block{
          position:relative;
          top: 250px;
          left: 20%;
          width: 350px;

          height: 650px;
          border: 1px solid lightgray;
          border-radius: 10px;
          padding: 10px;
          background-color: white;

          margin-right : 250px;
          margin-left : 50px;
      }

      .reply--block  img{
          width : 35px; height : 35px;
      }

      .reply--block a{
          text-decoration : none;
          color : gray;
      }

      .reply--block a:hover{
          color : royalblue;
      }

      .reply--block>.reply-header{
          display:flex;
          justify-content:space-evenly;
          align-items:center;
      }

      .reply--block>.reply-header>*{
          margin:5px;
      }

      .reply--block>.reply-header>*:nth-child(2){
          width : 400px;
      }

      .reply--block>.reply-header>*:nth-child(3){
          width : 80px;
      }

      .reply--block>.reply-body{

           height : 525px;
           overflow : auto;

      }

      .reply--block>.reply-body>.items{}

      .reply--block>.reply-body>.items>.item{
          display:flex;
          margin-bottom:5px;
          width : 380px;
      }



      .reply--block>.reply-body>.items>.item>*{
          margin:5px;
      }

      reply--block>.reply-body>.items>.item>.body{
        max-width : 300px;
      }
      .reply--block .item .body .contents {
      max-width: 250px; /* 최대 넓이 설정 */
      word-wrap: break-word; /* 텍스트가 너무 길어질 때 줄 바꿈 발생 */
      /* 다른 스타일 속성 추가 가능 */
  }

      .reply--block>.reply-body>.items>.item>.body>*{
          margin-bottom:2px;

      }

       .reply--block>.reply-body>.items>.item>.body>*:nth-child(1)
      ,.reply--block>.reply-body>.items>.item>.body>*:nth-child(3)
      {
         font-size : 0.8rem;
         color : gray;
      }

      .reply--block>.reply-body>.items>.item>.body>*:nth-child(2){
          font-size : 0.9rem;
          color : #424242;
      }

      .reply--block .material-icons{
          font-size:1rem;
      }

      ::-webkit-scrollbar {
          display: none;
      }

      .reply--block>.reply-body>.items>.item>.body{
          position:relative;
      }

      .reply_delete{
          position:relative;
      }

      .reply_delete:hover{
          color : red;
      }

      .reply_btn {
          font-size: 10px; /* 원하는 크기로 조정 */
          padding: 6px 7px; /* 원하는 여백 조정 */
      }


    </style>
    <div class="comment-container">
      <section class="reply--block" >

        <h4>댓글</h4>

        <div class="reply-body">
          <div class="items"></div>
        </div>

        <div>
          댓글 : <span class="reply--count"></span>
        </div>

        <div class="reply-header">
          <div>
            <img th:src="${#authentication.getPrincipal().getUser().getProfile()}" />
          </div>

          <div>
            <input name="contents" class="form-control reply_contents">
          </div>

          <div>
            <button class="btn btn-primary reply_btn" style="background-color : gray;border-style:none; height : 38.5px; width : 38.5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
    </div>


  </div>
</main>

<!-- Moment.js -->
<script src="https://momentjs.com/downloads/moment.js"></script>
<!-- Font Awesome for the bell icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-oC5D5N2ZlHv5r5zI3/81s6V5HQHZxTUn1l7/2eXIt2Q01lQQDKqOvSDR8RShm6ZH" crossorigin="anonymous">


<script>
  function formatDateTime(rawDate) {
        const formattedDate = moment(rawDate, 'YYYY-MM-DDTHH:mm:ss').format('YYYY년 MM월 DD일 HH:mm:ss');
        return formattedDate;
    }

  // 서버에서 알림 데이터를 가져와 동적으로 렌더링하는 함수
    function loadNotifications() {
        $.ajax({
            url: "/boardnotification/read", // 알림 데이터를 제공하는 엔드포인트
            method: "GET",
            dataType: "json",
            success: function(data) {
                // 알림 데이터를 동적으로 렌더링합니다.
                const notificationContainer = $("#notification-container");

                data.forEach(function(notification) {
                    // 알림을 동적으로 생성하여 추가합니다.
                    const notificationElement = `
                        <div class="notification">
                            <i class="fas fa-bell"></i>
                            <p>${notification.replynickname}</p>
                            <a href="/read/${notification.bid}">
                                <p>${notification.message}</p>
                            </a>
                            <p>${formatDateTime(notification.rdate)}</p>
                        </div>
                    `;
                    notificationContainer.append(notificationElement);
                });
            },
            error: function(error) {
                console.error("Error fetching notifications: " + error);
            }
        });
    }

  // 페이지가 로드될 때 알림을 가져와서 렌더링합니다.
  $(document).ready(function() {
      loadNotifications();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

  function logoutAndRedirect() {
    // 새 창 열기
  var newWindow = window.open('/logout', '_blank','width=450,height=450,top=1,right=100%');
  setTimeout(function() {
   // 1.5초후 창닫기
    newWindow.close();

   // 특정 지점으로 리다이렉션
  window.location.href = '/login';
  }, 1500);

  }
  //----------------------------------------------------------------
  //댓글 추가
  //----------------------------------------------------------------
  const reply_btn_el = document.querySelector('.reply_btn');



   /*<![CDATA[*/
          var bno = [[${board.number}]];
          let nickname = "[[${#authentication.getPrincipal().getUser().getNickname()}]]";

            //프로필이미지 꺼내오기
            let profileimage = '[[${#authentication.getPrincipal().getUser().getProfile()}]]';
            console.log("profileimage",profileimage);
   /*]]>*/


reply_btn_el.addEventListener('click', function () {
      const reply_contents_el = document.querySelector('.reply_contents');
      console.log("BNO : ", bno);


      axios.get("/board/reply/add?bno=" + bno + "&content=" + reply_contents_el.value + "&nickname=" + nickname+"&profileimage="+profileimage)
          .then(response => {
              console.log(response);

              // 기존 list 삭제
              const replyBody_items = document.querySelector('.reply-body .items');
              while (replyBody_items.firstChild) {
                  replyBody_items.firstChild.remove()
              }

              // 새로 list 불러오기
              getReplylist();

              // 댓글 개수 가져오기
              axios.get("/board/reply/count?bno=" + bno)
                  .then(response => {
                      let reply_count_el = document.querySelector('.reply--count');
                      reply_count_el.innerHTML = response.data;
                  })
                  .catch(error => {});

              // Input Clear
              reply_contents_el.value = "";

          })
          .catch(error => console.log(error));

  });
  //----------------------------------------------------------------
  //엔터키 댓글 추가
  //----------------------------------------------------------------
  const reply_contents_el = document.querySelector('.reply_contents');
  reply_contents_el.addEventListener('keydown',function(e){

      if(e.keyCode==13){

              axios.get("/board/reply/add?bno="+bno+"&content="+reply_contents_el.value + "&nickname=" + nickname+"&profileimage="+profileimage)
              .then(response=>{
                  console.log(response);

                  //기존list삭제
                  const replyBody_items = document.querySelector('.reply-body .items');
                  while(replyBody_items.firstChild){
                       replyBody_items.firstChild.remove()
                  }

                  //새로list불러오기
                  getReplylist();

                  //댓글 개수 가져오기
                  axios.get("/board/reply/count?bno=" + bno)
                  .then(response=>{
                      let reply_count_el = document.querySelector('.reply--count');
                      reply_count_el.innerHTML = response.data;
                  })
                  .catch(error=>{});

                  //Input Clear
                  reply_contents_el.value="";

              })
              .catch(error=>console.log(error));

      }
  });
       //----------------------------------------------------------------
      //댓글 리스트 가져오기
      //----------------------------------------------------------------
      const getReplylist = ()=>{

       /*<![CDATA[*/
              let bno = [[${board.number}]];
       /*]]>*/

          console.log("getReplylist bno :",bno);
          axios.get("/board/reply/list?bno="+bno)
          .then(response=>{
              console.log(response);
              if(response.data!=null)
              {

                  //댓글 Item 만들기
                  const reply_list = response.data;
                  reply_list.forEach(
                      reply=>{
                          CreateItem(reply);
                      }
                  );

                  //댓글 개수 가져오기
                  axios.get("/board/reply/count?bno=" + bno)
                  .then(response=>{
                      let reply_count_el = document.querySelector('.reply--count');
                      reply_count_el.innerHTML = response.data;
                  })
              }
          })
          .catch(error=>console.log(error));
      };
      getReplylist();


      //----------------------------------------------------------------
      // Item 만들기
      //----------------------------------------------------------------
      const items_el = document.querySelector(".items");


      const CreateItem = (reply)=>{
          console.log("reply : ",reply);

          // div 엘리먼트 생성
          var divElement = document.createElement("div");
          divElement.className = "item";

          // header div 엘리먼트 생성
          var headerElement = document.createElement("div");
          headerElement.className = "header";

          // img 엘리먼트 생성
          var imgElement = document.createElement("img");
          imgElement.src = reply.profileimage;
          imgElement.setAttribute("style","border-radius:50%;opacity:1");
          imgElement.alt = "";

          // header div에 img 엘리먼트 추가
          headerElement.appendChild(imgElement);

          // body div 엘리먼트 생성
          var bodyElement = document.createElement("div");
          bodyElement.className = "body";

          // 내용 엘리먼트 생성(계정 | 날짜 )
          var contentDiv = document.createElement("div");

          var span1 = document.createElement("span");
          span1.className = "reply_username me-2";
          span1.textContent = reply.nickname;
          var span2 = document.createElement("span");
          span2.className = "reply_date";
          span2.textContent = formatter(reply.date);
          span2.textContent = " | " + formatter(reply.date); // date 앞에 공백 추가
          console.log("reply.date:", reply.date);


          var delete_a = document.createElement("a");
          delete_a.setAttribute("href","/reply/delete/"+reply.bno+"/"+reply.rnumber);
          var span3 = document.createElement("span");
          span3.className = "reply_delete material-symbols-outlined";
          span3.innerHTML = "&#128465;";
          delete_a.appendChild(span3);

          contentDiv.appendChild(span1);
          contentDiv.appendChild(span2);
          contentDiv.appendChild(delete_a);

          // 내용 엘리먼트 추가
          bodyElement.appendChild(contentDiv);



          // contents div 엘리먼트 생성
          var contentsDiv = document.createElement("div");
          contentsDiv.className = "contents";
          contentsDiv.textContent = reply.content;

          // contents div 엘리먼트 추가
          bodyElement.appendChild(contentsDiv);

          // 좋아요 및 싫어요 링크 엘리먼트 생성
          var likeLink = document.createElement("a");
          var dislikeLink = document.createElement("a");

          likeLink.href = "/reply/thumbsup?bno="+reply.bno+"&rnumber=" + reply.rnumber;
          dislikeLink.href = "/reply/thumbsdown?bno="+reply.bno+"&rnumber=" + reply.rnumber;

          // 좋아요 아이콘과 개수 엘리먼트 생성
          var likeIcon = document.createElement("span");
          likeIcon.className = "material-icons me-1";
          likeIcon.textContent = "thumb_up";
          var likeCount = document.createElement("span");
          likeCount.className = "me-1";
          likeCount.textContent = reply.likecount;

          // 싫어요 아이콘과 개수 엘리먼트 생성
          var dislikeIcon = document.createElement("span");
          dislikeIcon.className = "material-icons me-1";
          dislikeIcon.textContent = "thumb_down";
          var dislikeCount = document.createElement("span");
          dislikeCount.className = "me-1";
          dislikeCount.textContent = reply.unlikecount;

          // 좋아요와 싫어요 엘리먼트를 좋아요 링크에 추가
          likeLink.appendChild(likeIcon);
          likeLink.appendChild(document.createTextNode(" "));
          likeLink.appendChild(likeCount);


          // 좋아요와 싫어요 엘리먼트를 싫어요 링크에 추가
          dislikeLink.appendChild(dislikeIcon);
          dislikeLink.appendChild(document.createTextNode(" "));
          dislikeLink.appendChild(dislikeCount);

          const ThumbsDiv = document.createElement("div");
          ThumbsDiv.append(likeLink);
          ThumbsDiv.append(dislikeLink);


          // 좋아요와 싫어요 링크 엘리먼트를 body div에 추가
          bodyElement.appendChild(ThumbsDiv);

          // header와 body 엘리먼트를 div에 추가
          divElement.appendChild(headerElement);
          divElement.appendChild(bodyElement);

          // div 엘리먼트를 body에 추가
          items_el.appendChild(divElement);
      }

  //----------------------------------------------------------------
  // LocalDateTime Formatter
  //----------------------------------------------------------------
  const formatter = (regDate)=>{
    // 분리한 정보를 사용하여 Date 객체를 생성합니다.
    const year = parseInt(regDate[0]);
    const month = parseInt(regDate[1]) - 1; // 월은 0부터 시작하므로 1을 빼줍니다.
    const day = parseInt(regDate[2]);
    const hours = parseInt(regDate[3]);
    const minutes = parseInt(regDate[4]);
    const seconds = parseInt(regDate[5]);

    const date = new Date(year, month, day, hours, minutes, seconds);

    // Date 객체를 원하는 형식으로 포맷팅합니다.
    const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;

    return formattedDate;
  };

</script>




<script>
  $(document).ready(function() {

      $('.heart').each(function(){

          var heart = $(this);
          var boardNumber = heart.data('board-number');

          $.ajax({

              type:'GET',
              url:'/get-like-status/'+boardNumber,
              success:function(hasLiked){

              var heartIconSVG = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">' +
              '<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.920 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.060.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>' +
              '</svg>';

              var FillheartIconSVG = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">'+
              '<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>'+
              '</svg>';

                  if(hasLiked==='true'){
                      heart.html(FillheartIconSVG);
                  }else{
                      heart.html(heartIconSVG);
                  }
              },
              error:function(){
                  console.error('좋아요 상태 가져오기 실패');
              }
          });
      });

      $('.heart').on('click', function(event) {
          event.preventDefault();
          var heart = $(this)
          var boardNumber = heart.data('board-number');

          $.ajax({
              type: 'GET',
              url: '/like/'+boardNumber,
              success: function(isLiked) {

                  location.reload();
              },
              error: function() {
                  console.error('좋아요 업데이트 실패');
              }
          });
      });
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementById('searchButton').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작을 막습니다.

      // 폼을 가져오고, action 속성을 변경한 다음 폼을 제출합니다.
      var form = document.getElementById('searchForm');
      var selectedOption = document.getElementById('searchOption').value; // 선택된 검색 옵션 가져오기
      if (selectedOption === 'nickname') {
          form.action = '/list/search-nickname'; // 닉네임 검색을 위한 URL로 변경
      } else {
          form.action = '/list/search-contents'; // 내용 검색을 위한 URL로 변경
      }
          form.submit(); // 폼 제출
      });
  });
</script>

<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  const formData = new FormData();	//폼관련 정보 저장

const uploadBox_el = document.querySelector('.upload-box');
//dragenter / dragover /dragleave / drop

uploadBox_el.addEventListener('dragenter',function(e){
  e.preventDefault();
  console.log("dragenter...");
});
uploadBox_el.addEventListener('dragover',function(e){
  e.preventDefault();
  uploadBox_el.style.opacity='0.5';
  console.log("dragover...");

});
uploadBox_el.addEventListener('dragleave',function(e){
  e.preventDefault();
  uploadBox_el.style.opacity='1';
  console.log("dragleave...");

});

//----------------------------------------------
//
//----------------------------------------------
uploadBox_el.addEventListener('drop',function(e){
  e.preventDefault();
  console.log("drop...");
  console.log(e);
  console.log(e.dataTransfer);
  console.log(e.dataTransfer.files[0]);

  //유효성체크(이미지만, 하나씩만 , 용량제한 ...)
  // 파일 유형 확인 및 이미지 파일만 처리
  const imageFiles = Array.from(e.dataTransfer.files).filter(file => file.type.startsWith('image/'));
  if (imageFiles.length === 0) {
          alert("이미지 파일만 가능합니다");
          return;
  }
  //총이미지의 개수가 5개 이상이면 return(아직..)

  //미리보기
  const file = e.dataTransfer.files[0];
  const reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = function(event) {
      const preview = document.getElementById('preview');
      const img = document.createElement('img')
      img.setAttribute('src',event.target.result);
      preview.appendChild(img);
  };
  //formData에 저장
  formData.append('files',file);

});

const add_product_btn_el = document.querySelector('.add_product_btn');
      add_product_btn_el.addEventListener('click',function(){
          const contents = document.imageform.contents.value;

          formData.append('contents',contents);


          axios.post('/post',formData,	{headers: {'Content-Type' : 'multipart/form-data' } }   )
			.then(response =>{
				alert("새 글을 추가했습니다. 짝짝짝");
				location.href="/list";
			})
			.catch(error =>{alert("글쓰기를 실패하였습니다.(이미지파일 필수)");})


      })
</script>

</body>
</html>